@{
    ViewBag.Title = "Try App";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Desciption About :Air Canada Flight 624 crash-landed at Halifax Stanfield International Airport early Sunday morning after possibly hitting power lines.
                Air Canada Flight 624 crash-landed at Halifax Stanfield International Airport early Sunday morning after possibly hitting power lines.
            </p>
        </div>
    </section>
}
<h3>What makes us work:</h3>
<ol class="round">
    <li class="one">
        <h5>Point One </h5>
        Air Canada Flight 624 crash-landed at Halifax Stanfield International Airport early Sunday morning after possibly hitting power lines.
    </li>

    <li class="two">
        <h5>Point Two</h5>
        The aircraft, an Airbus A320, took off at Toronto Pearson International Airport at 9:05 p.m. ET, according to Flight Aware. It was scheduled to arrive at Halifax International at 12:40 a.m. local time in Nova.
    </li>

    <li class="three">
        <h5>Point Three</h5>
        Power went out at the airport, according to multiple reports, and all passengers were deplaned upon landing. Early reports said the plane may have clipped
    </li>
</ol>
